.UserName {
  padding: 1.6rem 1rem;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-align: center;
  background: linear-gradient(40deg, #6807f9, #af8fdf8a);
  border-radius: 0.25rem;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  transition: 0.25s all;
}

.UserCard:hover .UserName {
  transform: scale(1) translateY(-5%);
}
