.categories--item-selected {
    background-color: #bdbdc1;
}
.categories--item {
    background-color: #efeff0;
    cursor: pointer;
    font-weight: 700;
    margin: 2px;
    padding: 12px;
}

div {
    display: block;
}
.categories {
    display: flex;
}



.categories--item:hover {
    background-color: #d6d6d8;
}   
