@import "./variables";

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #efefef;
}

.App-state {
  font: 14px monospace;
  white-space: pre-wrap;
  background: white;
  padding: $padding-m;
}