.homework1-div {
  margin-top: 100px;
  margin-right: auto;
}
.listItem {
  color: aliceblue;
}
.listHeader {
  font-weight: bold;
  background-color: coral;
  color: antiquewhite;
}
ul {
  background-color: burlywood;
  max-width: 600px;
  min-width: 250px;
}
.true {
  text-decoration: line-through;
}
