.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(39, 123, 193);
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
  font-size:1.75rem;
}
.content{
  background-color:gray;
  margin: 5%;
  font-size: 30px;
  border:1px solid rgb(129, 129, 167);
}
.removeClick{
  cursor: pointer;
  text-align: right;
  margin-left:10px;
}
.addClick{
  cursor: pointer;
}
.todoAdd{
  margin:0px auto;
  margin-bottom:10px;
  padding-top:10px;
  text-align: center;
  background-color: rgb(147, 163, 163);
}
.doneClick{
  color:lightblue;
  cursor: pointer;
  margin-left:50px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
