.todo_item {
  clear: both;
}
.labels_checkbox {
  float: left;
}

.buttons_container {
  float: right;
}

.display_style {
  display: inline-block;
}

.editing_style {
  display: none;
}

.remove_button {
  display: inline-block;
}