td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}



th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

table,
td {
  table-layout: fixed;
  width: 100%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1 {
  padding-top: 50px;
}