@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;1,400&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  color: #2d3436;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-container{
  width: 70%;
}

.search-element{
  display: flex;
  flex-wrap: wrap;
  height: 2em;
  margin-top: 10%;
  margin-bottom: 10%;
}

.search-input{
  width: 90%;
  border: 1px solid #bdc3c7;
  border-radius: 10px 0 0 10px;
  padding-left: 1em;
  font-size: 1em;
  outline: none;
}

.weather-card{
  padding: 2em;
  border-top: 1px solid #bdc3c7;
}

.search-button{
  width: 10%;
  border-radius: 0 10px 10px 0;
  border: none;
  outline: none;
}

.city-name{
  padding-bottom: .5em;
  color: #27ae60;
}

.max-temp{
  color: #e74c3c;
}

.min-temp{
  color: #2980b9;
}

.number-data{
  padding-top: .5em;
}



@media only screen and (max-width: 600px) {
  .weather-container{
    width: 100%;
  }
}
