@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;1,400&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.weather-card{
  height: 50vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 2em;
  border: 2px solid black;
}

.city-name{
  padding-bottom: .5em;
}

.number-data{
  padding-top: .5em;
}



@media (prefers-reduced-motion: no-preference) {
  
}
