.description__sunny {
  background-image: url("../assets/sunny.jpg");

  background-attachment: local;
  background-size: contain;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5%;
  box-shadow: 0px 5px #888888;
  max-width: 60%;
  margin-left: 20%;
  margin-top: 2em;
  padding: 1em;
  padding-left: 2em;
}
.description__few__clouds {
  background-image: url("../assets/few_clouds.jpg");
  background-attachment: local;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5%;
  box-shadow: 0px 5px #d3cece;
  max-width: 60%;
  margin-left: 20%;
  margin-top: 2em;
  padding: 1em;
  padding-left: 2em;
}
.description__scattered__clouds {
  background-image: url("../assets/scattered_clouds.jpg");
  background-attachment: local;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5%;
  box-shadow: 0px 5px #888888;
  max-width: 60%;
  margin-left: 20%;
  margin-top: 2em;
  padding: 1em;
  padding-left: 2em;
}
.description__shower__rain {
  background-image: url("../assets/light_rain.jpg");
  background-attachment: local;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5%;
  box-shadow: 0px 5px #888888;
  max-width: 60%;
  margin-left: 20%;
  margin-top: 2em;
  padding: 1em;
  padding-left: 2em;
}
.description__rain {
  background-image: url("../assets/rain.jpg");
  background-attachment: local;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5%;
  box-shadow: 0px 5px #888888;
  max-width: 60%;
  margin-left: 20%;
  margin-top: 2em;
  padding: 1em;
  padding-left: 2em;
}
.description__thunderstorm {
  background-image: url("../assets/thunderstorm.jpg");
  background-attachment: local;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5%;
  box-shadow: 0px 5px #888888;
  max-width: 60%;
  margin-left: 20%;
  margin-top: 2em;
  padding: 1em;
  padding-left: 2em;
}
.description__snow {
  background-image: url("../assets/snow.jpg");
  background-attachment: local;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5%;
  box-shadow: 0px 5px #afadad;
  max-width: 60%;
  margin-left: 20%;
  margin-top: 2em;
  padding: 1em;
  padding-left: 2em;
}
.description__mist {
  background-image: url("../assets/mist.jpg");
  background-attachment: local;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5%;
  box-shadow: 0px 5px #afadad;
  max-width: 60%;
  margin-left: 20%;
  margin-top: 2em;
  padding: 1em;
  padding-left: 2em;
}

h1.city__name {
  margin-bottom: 0.5em;
  font-weight: 500;
  font-size: 20px;
  color: white;
}
.weather__info {
  margin-bottom: 2em;
  text-align: left;
  color: white;
  font-size: 20px;
}
.weather__info h2 {
  font-weight: 550;
  color: white;
  font-size: 20px;
}
.temp__info {
  padding-bottom: 2em;
  color: white;
  font-size: 20px;
}
.city__coords {
  margin-bottom: 1em;
  text-align: left;
  color: white;
  font-size: 20px;
}
