.city__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid black;
  max-width: 60%;
  margin-left: 20%;
  margin-top: 2em;
  padding: 1em;
  padding-left: 2em;
}

.city__container h1 {
  margin-bottom: 0.5em;
  font-weight: 200;
}
.weather__info {
  margin-bottom: 2em;
  text-align: left;
}
.weather__info h2 {
  font-weight: 550;
}
.temp__info {
  padding-bottom: 2em;
}
