.search__bar {
  max-width: 60%;
  font-size: 2em;
  margin-left: 20%;
  margin-top: 2em;
}
.search__value {
  max-width: 100%;
  height: 40px;
  width: 70%;
  font-size: 1rem;
  margin-top: 10%;
}
button {
  width: 25%;
  height: 40px;
  font-size: 1rem;
}
