.task-list{
	margin-top:20px;
	font-family:calibri,sanserif;
	list-style-type: square;
}
.task-item{
	padding-top:5px;
	padding-bottom:5px;
}
.task-text{
	color:#333;
	font-size:1.1em;
}
.task-data{
	color:#060;
	font-size:0.90em;
}
.done{
	text-decoration:line-through;
}
.form-button{
	margin-left:5px;
}

.linkButton{
	color:#59d;
	text-decoration:none;
	margin:0px 5px;
}
.linkButton:hover{
	text-decoration:underline;
}
.linkButton-disabled {
  color:#888;
}
.linkButton-disabled:hover{
	color:#888;
	text-decoration:none;
}
.TextField-singleline{
	width:300px;
	padding:3px 5px;
}