.App {
  text-align: center;
}
.get_friend{
  margin-top: 1em;
}
.info_list{
  text-align: left;
  list-style: none;
  width: 50%;
}
.info_list li{
  /* border-bottom: 1px solid #999; */
  font-size: larger;
  font-weight: 500;
}
