.App {
  text-align: center;
}
.get_friend{
  margin-top: 1em;
}
.info_list{
  list-style: none;
  text-align: left;
  width: 50%;
}
.info_list li{
  font-size: larger;
  font-weight: 500;
}
.dogPhotos{
  margin-top: 30px;
  width: 50%;
  margin-left: 25%;
}
.dogPhotos img{
  border: 1px solid black;
  border-radius: 12px;
  width: 100%;
}