/********** BUTTON ***********/

.button {
  text-align: center;
  font-size: 15px;
  margin: 1em 47em;
  height: 60px;
  width: 100px;
  border: 0.1em solid #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  background-color: black;
  text-align: center;
  transition: all 0.2s;
}

.button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 0.2em solid #000000;
  font-weight: bolder;
}

/* ****   Friend   ***********/

.friend-main {
  border: 2px solid salmon;
  margin: 0 25em;
}
.friend-list li {
  list-style: none;
  margin: 1em 12em;
}
.friend-list li span {
  color: rgb(243, 76, 57);
  font-weight: bolder;
  margin-right: 6px;
}

.joke-title {
  margin: 1em 9.5em;
}

/* ****   JOKE   **** */
.joke-main {
  border: 2px solid salmon;
  margin: 2em 25em;
}
.joke-list li {
  list-style: none;
  margin: 1em 12em;
}

.joke-title {
  margin: 1em 9.5em;
}

.joke-main p {
  line-height: 2em;
}
.setup {
}

.punchline {
  font-weight: bolder;
}
