.header h1 {
  text-align: center;
  text-transform: uppercase;
}
ul,
p {
  position: absolute;
  top: 150px;
  left: -55px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
li,
p {
  margin: 10px;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 20px;
  width: 400px;
  text-align: right;
  background-color: white;
  border-radius: 0 20px 20px 0;
}
button {
  width: 20px;
  height: 20px;
}

i {
  margin-left: -3px;
}
