{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-const-assign": "error",
    "no-this-before-super": "error",
    "no-undef": "error",
    "no-unreachable": "error",
    "no-unused-vars": "error",
    "constructor-super": "error",
    "valid-typeof": "error",
    "no-var": "error",
    "prefer-const": "error",
    "no-multiple-empty-lines": "error",
    "eol-last": [
      "error",
      "always"
    ],
    "no-console": "off",
    "eqeqeq": [
      "error",
      "always",
      {
        "null": "ignore"
      }
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}