@import url('https://fonts.googleapis.com/css?family=Asap:400,500,600,700');
.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
  flex-basis: 100%;
}
body {
  background-color: #223e57ce;
}

.main-form {
  flex-basis: 100%;
}

.items {
  display: flex;
  width: 46%;
  height: 19.2em;
  margin: 5px auto;
  padding: 12px;
  border-radius: 5%;
  box-shadow: 8px 8px 12px -3px #3d1d1d;
  background-color: rgba(20, 63, 95, 0.523);
}

.edit-button {
  flex-basis: 45px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 40px;
  margin: 30px 5px;
  margin-right: 10px;
  padding: 3px;
  background-color: rgb(30, 51, 41);
  align-self: flex-end;
}

.checkbox {
  position: relative;
  height: 25px;
  margin: 10px 24px;
  opacity: 0;
}
.text {
  flex-basis: 90%;
  height: 90%;
}

.input {
  background: rgb(30, 51, 41);
  color: rgb(212, 206, 206);
  margin: 30px 10px;
  height: 30px;
  width: 17em;
}

.button {
  background: #6b707460;
  width: 120px;
  height: 30px;
  border-radius: 20%;
}

.avatar {
  border: 1px solid black;
  width: 120px;
  height: 100px;
  margin: 3px auto;
  padding: 4px;
  background-color: rgba(18, 49, 33, 0.598);
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #598b8d;
  border: 1px ridge rgb(53, 122, 87);
  margin: 7px;
  padding: 7px;
}

span {
  font-weight: bold;
  color: #172a2a;
}

.edit-input {
  width: 35%;
  height: 24px;
  display: block;
  margin: 10px auto;
}

.edit-input-text {
  width: 55%;
  height: 70px;
  display: block;
  margin: 10px auto;
}

.full-name {
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  padding: 10px;
  margin: 10px;
  letter-spacing: 1px;
  color: #1c2525;
}

.user-text {
  padding: 2px;
  margin: 2px;
  height: 80px;
  text-align: left;
  background-color: rgb(245, 245, 245);
}

label {
  align-self: flex-end;
}

.fa {
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  color: rgba(18, 49, 33, 0.598);
}
i {
  margin: auto;
}

.fa:hover {
  color: wheat;
}

.fa-thumbs-up {
  color: rgb(31, 31, 80);
}
