.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.picture {
    height: 500px;
    position: absolute;
    left: 0px;
    top: 190px;
}

.header {
    background-color: pink;
    height: 50px;
    padding: 10.5px;
    color: black;
    font-family: cursive;
}

h1 {
    text-align: center;
    color: red;
    padding: 10px;
    font-size: 20px;
}

h2 {
    color: black;
    font-size: 20px;
    font-family: serif;
}

p {
    color: rgb(70, 69, 69);
    padding-bottom: 50px;
    font-size: 15px;
    font-family: serif;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}