.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #b9dedf;
  padding: 20px;
  margin: 0;
}
h1,
h2,
p,
ul,
li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #2b2f3f;
  padding: 0;
  -webkit-box-shadow: 3px 7px 10px 0px rgba(45, 46, 67, 0.85);
  -moz-box-shadow: 3px 7px 10px 0px rgba(45, 46, 67, 0.85);
  box-shadow: 3px 7px 10px 0px rgba(45, 46, 67, 0.85);
}
ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #fff;
  padding: 20px;
  -webkit-box-shadow: 2px 4px 8px 0px rgba(45, 46, 67, 0.85);
  -moz-box-shadow: 2px 4px 8px 0px rgba(45, 46, 67, 0.85);
  box-shadow: 2px 4px 8px 0px rgba(45, 46, 67, 0.85);
}
h1 {
  color: #29303d;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #5ea1a6;
}
