.btn {
  border-radius: 10%;
  margin-top: 30px;
  padding: 0px;
  font-weight: bold;
}

.add-btn {
  background-color: rgb(196, 145, 196);
  margin: 0px;
  padding: 10px;
  color: white;
  border: 1px solid rgb(180, 137, 166);
}
