.App {
  text-align: center;
}
.appContainer {
  padding: 150px;
}
.appHeader {
  background-color: #222;
  height: 100px;
  color: white;
  text-align: center;
}
.headerText {
  padding: 1px;
}

.appFooter {
  background-color: #222;
  height: 70px;
  color: white;
  text-align: center;
}
.footerText{
    padding: 20px;
}

.todoList {
  list-style: none;
  
 
}

.todoItem {
  box-shadow: 1px black ;
  display: block;
  margin: 10px;
  padding: 10px;
  /* border: solid 1px black ;  */
  background-color: aqua;
  
  
}

.lineThrough {
  text-decoration : line-through
}

.checkbox{
  float: left ; 
  size : 50px 
}




