* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e21a47;
  color: white;
}

.error {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.week2 .todo-items {
  background-color: #242426;
  width: 600px;
  padding: 20px;
  border-radius: 7px;
  margin: auto;
  overflow: hidden;
}

.week2 h2 {
  text-align: center;
  color: white;
  margin-left: 40px;
  padding: 15px;
}
.week2 li {
  padding: 10px;
  /* border: 1px solid; */
  margin: 10px auto;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}
.week2 li:hover {
  background: white;
  font-size: 22px;
  color: #e21a47;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.1s ease-in-out;
}

.week2 ul {
  list-style: none;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
  font-size: 20px;
  margin: 20px auto;
  width: 50%;
  border: 1px solid black;
  padding: 5px;
}
.week2 .delete {
  background: #03a9f4;
  color: white;
  float: right;
  width: 90px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  padding: 8px;
  margin-top: -5px;
}
.week2 .delete:hover {
  background: red;
  color: white;
  cursor: pointer;
}
/**********/
.week2 li.true {
  background-color: #f44336;
  text-decoration: line-through;
}
.week2 .displayMessage {
  display: none;
}
.week2 .ok-button {
  background-color: #03a9f4;
  width: 80px;
  font-size: 18px;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.week2 .ok:hover {
  color: white;
  background: #32bfff;
}
/**********/
.week2 form {
  background-color: #242426;
  width: 900px;
  padding: 20px;
  border-radius: 7px;
  margin: auto;
  overflow: hidden;
}

.week2 label {
  font-size: 22px;
  display: inline-block;
  margin: 0px 10px;
}
.week2 input {
  width: 200px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px auto;
}

.week2 .add {
  background-color: #03a9f4;
  margin-left: 120px;
  width: 77px;
  font-size: 18px;
}
.week2 .add:hover {
  transform: scale(1.03);
  transition: all 0.2s ease-in-out;
  background: #32bfff;
  color: white;
  cursor: pointer;
}

.week2 .ok-button:hover {
  cursor: pointer;
}

.week2 .message_box {
  width: 400px;
  margin: 250px auto;
  font-size: 20px;
  text-align: center;
  background-color: #453f3d;
  border-radius: 15px;
  padding: 40px;
}
.week2 .message_box p {
  margin: 0px auto 25px;
}
.week2 .hidden-message {
  background-color: red;
  display: inline-block;
  color: #242426;
  padding: 5px;
  border-radius: 5px;
  width: 120px;
}
.fa {
  color: yellow;
}
