.todo{
 margin: 20px auto;
 padding: 10px 15px;
 border: 2px solid rgba(223, 76, 223, 0.067);
 display: block;
 width: 50%;
}
.todo h3 {
font-family: Arial, Helvetica, sans-serif;
font-weight: 1000;
color: #380303;
font-size: 25px;
text-align: center;

}
.todo span {
color: #c73636;

}
.todo h4 {
font-weight: 1000;
font-size: 1em;
color: #fa0b0be8

}