.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-main {
  background-color: #333842;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 15px;
}

.App-link {
  color: #09d3ac;
}

hr {
  width: 80%;
}

ol {
  margin: 0px 15px 20px 15px;
}
li {
  text-align: left;
}
img {
  max-width: 65%;
  border-radius: 10%;
}
