*,::after,::before{background-repeat:no-repeat;box-sizing:border-box}::after,::before{text-decoration:inherit;vertical-align:inherit}html{cursor:default;font-family:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";line-height:1.15;-moz-tab-size:4;tab-size:4;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;word-break:break-word}body{margin:0}h1{font-size:2em;margin:.67em 0}hr{height:0;overflow:visible}details,main{display:block}nav ol,nav ul{list-style:none}code,kbd,pre,samp{font-family:Menlo,Consolas,Roboto Mono,Ubuntu Monospace,Noto Mono,Oxygen Mono,Liberation Mono,monospace;font-size:1em}a{background-color:transparent}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}small{font-size:80%}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}audio,canvas,iframe,img,svg,video{vertical-align:middle}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not([fill]){fill:currentColor}svg:not(:root){overflow:hidden}table{border-collapse:collapse}button,input,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}button,input,select{margin:0}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}fieldset{padding:.35em .75em .625em}button,input{overflow:visible}legend{color:inherit;display:table;max-width:100%;white-space:normal}progress{display:inline-block;vertical-align:baseline}button,select{text-transform:none}textarea{margin:0;overflow:auto;resize:vertical}[type=checkbox],[type=radio]{padding:0}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}::-webkit-input-placeholder{color:inherit;opacity:.54}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}::-moz-focus-inner{border-style:none;padding:0}:-moz-focusring{outline:1px dotted ButtonText}dialog{background-color:#fff;border:solid;color:#000;display:block;height:-moz-fit-content;height:-webkit-fit-content;height:fit-content;left:0;margin:auto;padding:1em;position:absolute;right:0;width:-moz-fit-content;width:-webkit-fit-content;width:fit-content}dialog:not([open]){display:none}summary{display:list-item}[tabindex],a,area,button,input,label,select,summary,textarea{-ms-touch-action:manipulation;touch-action:manipulation}[hidden],template{display:none}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled=true],[disabled]{cursor:not-allowed}[aria-hidden=false][hidden]:not(:focus){clip:rect(0,0,0,0);display:inherit;position:absolute}

body {
    background: rgb(255, 255, 255)
}

.wrap {
    background: rgb(200, 200, 200);
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    position: relative
}

form,h2 {
    background: rgb(100, 100, 100);
    margin: auto;
    text-align: center
}

h2 {
    color: #fff;
    font-size: 70px;
    padding: 10px 0
}

form {
    padding: 0
}

input {
    border: 0;
    padding: 15px;
    width: 100%
}

input:focus {
    outline: 0
}

ul.items {
    width: 90%;
    margin: 50px auto;
    padding: 0
}

ul.items li {
    border-bottom: 3px solid rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
    position: relative
}

ul.items li span {
    font-size: 13px;
    margin-left: 5px;
    color: #ffffff;
    background: #000;
    padding: 5px;
    position: absolute;
    right: 0;
}

ul.items li span:after {
    position: absolute;
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    top: 0;
    left: -5px;
    border-radius: 50%
}

.menu {
    width: 100%;
    padding: 0;
    overflow: auto
}

.menu li,ul.items li {
    list-style: none
}

.menu a {
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    display: inline-block;
    width: 50%;
    float: left;
    color: #000;
    font-weight: bolder;
}

.menu a:hover {
    background: #fff;
    color: #000
}
