.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-light;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 40rem;
  color: $color-dark;
  text-shadow: 0 2px 1rem rgba(lighten($color-main, 60), 0.6);
  $profile: &;

  & ul {
    align-self: flex-start;
    margin-left: 20%;
    width: 25rem;
  }

  &::before {
    content: '';
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1rem rgba(darken($color-main, 20), 0.3);
  }

  &__image {
    &-wrapper {
      position: absolute;
      padding: 1rem;
      border-radius: 100%;
      background-color: $color-light;
      width: 15rem;
      height: 15rem;
      top: -7rem;
      transition: all 0.5s;
      box-shadow: 0 0 1rem rgba($color: $color-dark, $alpha: 0);
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 1rem rgba($color: $color-dark, $alpha: 0.5);
      }

      &::before {
        content: '';
        z-index: -1;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // box-shadow: 0 0 1rem rgba(darken($color-main, 20), 0.3);
      }

      #{$profile}__badge {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 2.5rem;
        color: $color-light;
        z-index: 1400;

        &.male {
          background-color: $color-male;
        }

        &.female {
          background-color: $color-female;
        }

        &-wrapper {
          width: 3.5rem;
          height: 3.5rem;
          background-color: $color-light;
          position: absolute;
          padding: 0.5rem;
          border-radius: 100%;
        }
      }
    }

    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  &__name {
    margin: 6rem 0 2rem;
    text-align: center;
    font-size: 4rem;
    line-height: 1.2;
  }
}
