.App {
  text-align: center;
}

nav {
  display: flex;
}

.product-card {
  width: 350px;
  margin-top: 40px;
  border: 1px solid #888888;
  box-shadow: 2px 2px 2px #888888;
}

.product-button {
  list-style: none;
  width: calc(33% - 16px);
  padding: 5px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
}

.button {
  width: 180px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  border: none;
}

.button:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: ease-in-out;
  background-color: #00b072;
}

.product-list {
  display: flex;
  margin: 20px auto;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: center;
}

.page-title {
  color: black;
  font-size: 40px;
  font-weight: bold;
}


