/* General styles */
body {
  margin: 0;
  padding: 50px;
  font-family: sans-serif;
  text-align: left;
  background: rgba(200, 200, 200, 0.2);
  font-family: "Montserrat", "Helvetica", "Open Sans", "Arial";
}

/* Panel styles */
.panel {
  border: 1px solid #1b2431;
  border-radius: 3px;
  background: #273142;
  color: #fff;
  max-width: 300px;
  min-height: 140px;
  margin: 0 auto;
  position: relative;
  padding: 30px 50px 50px 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.panel form {
  text-align: center;
}

.panel form input {
  margin-bottom: 1em;
}

/* Header styles */
.header-count {
  color: #738297;
  font-size: 20px;
  margin: 0 0 0 10px;
}

/* Button styles */
button {
  background: transparent;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  min-height: 40px;
  opacity: 0.9;
  margin: 0 10px 0 0;
}
button:hover {
  opacity: 1;
}
