body {
  font-family: sans-serif;
}

.blog-post {
  background: #eee;
  padding: 100px 40px;
  font-size: 40px;
  color: #999;
}

.comments-list {
  padding: 20px 40px;
  max-width: 500px;
}

.comment {
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.author-info {
  background: rgba(100,100,100,0.1);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-photo {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

.author-name {
  display: inline-block;
  font-size: 20px;
  margin: 0 0 0 10px;
  opacity: 0.75;
}

.comment-body {
  padding: 10px;
}

.comment-body .timestamp {
  font-size: 12px;
  font-style: italic;
  opacity: 0.75;
}

.comment-body .content {
  margin: 20px 0;
}

.comment-body .liked-icon {
  color: red;
  opacity: 0.5;
  cursor: pointer;
}

.comment-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-comment-form {
  max-width: 495px;
  margin: 50px 0;
}

.add-comment-form textarea {
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
  resize: vertical;
}


