.App {
  text-align: center;
  background-color: #35486d;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: whitesmoke;
  padding-bottom:20px;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.ToDoItem { 
  border: 1px solid gray;
  margin: auto;
  margin-top:20px;
  margin-bottom:20px;
  width: 50%;
  padding:5px;
}

.Color1 {color: tomato;}
.Color2 {color: rgb(194, 58, 194);}
.Color3 {color: yellowgreen;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

