.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

.menu li {
  float: left;
  border-right: 1px solid #bbb;
}

.menu li:last-child {
  border-right: none;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover:not(.active) {
  background-color: #03a9f4;
}

.menu .active {
  background-color: #03a9f4;
}
