.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 50s linear; */
  height: 175px;
  margin-top: 30px;
}

.App-header {
  background-color: #ebe70b;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  font-weight: bold;
  color: rgb(214, 111, 52);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
