* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-transform: capitalize;
}

button {
  cursor: pointer;
  border: none;

}

.counterBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 4px 0 rgb(0 0 0 /30%);
  padding: 30px 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 600px;
  width: 90%;
}

.counterBox button {
  background-color: rgb(243, 60, 60);
  padding: 5px 10px;
  border-radius: 6%;
}