.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  margin: 100px auto;
}

ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

li {
  font-family: 'Oswald', sans-serif;
  padding: 10px;
  font-size: 1em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  color: white;
}

li a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s background-color;
}
a:hover {
  background-color: #20e9e9;
}
