@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400");

body {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  background: url("https://images.pexels.com/photos/355770/pexels-photo-355770.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
    fixed no-repeat;
}
