.w2_container {
  width: 90%;
  margin: 5px auto;
}

table {
  margin-top: 15px;
  border-collapse: collapse;
  font-weight: normal;
  table-layout: fixed;
  width: 65%;
}

thead {
  background: #ddd;
  color: black;
  padding: 5px;
}
thead tr th {
  border-right: 0.5px solid whitesmoke;
  border-left: 0.5px solid whitesmoke;
}
tr {
  border-bottom: 0.5px solid #ddd;
}

td {
  padding: 5px;
  vertical-align: top;
}

.w2_check-column {
  white-space: nowrap;
  width: 20%;
}
.w2_description {
  text-align: left;
  min-width: 40%;
}

.w2_action {
  width: 20%;
}

td.w2_icon {
  color: #c84316;
  cursor: pointer;
  font-weight: bolder;
}

.w2_no_items {
  width: 100%;
  text-align: center;
  border: 1px solid #2ebaee;
  color: #c84316;
}

.w2_line_through {
  text-decoration: line-through;
}

.w2_no_line {
  text-decoration: none;
}
/* form */
form input[type='text'] {
  width: 50%;
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
}

form input[type='date'] {
  width: 25%;
}

form input[type='submit'] {
  width: 15%;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  position: relative;
  top: 6px;
}

form {
  width: 65%;
  margin-top: 30px;
  margin-bottom: 15px;
}
form input {
  padding: 10.5px;
  background: #ebebeb;
  border: transparent;
  border: 0.3px solid #ccc;
}
form input[type='date'] {
  padding: 8px;
  margin: 0px;
}

form input[type='submit'] {
  background: #2ebaee;
  border: 0.3px solid #2ebaee;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
  table,
  form {
    width: 100%;
  }
  th,
  td {
    font-size: smaller;
  }
  .w2_container {
    width: 95%;
    margin: 5px auto;
  }
}
