.users {
  display: flex;
  flex-wrap: wrap;
}

.avatar {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
}

.error {
  color: red;
}

.field {
  font-weight: bold;
}
