.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid white;
  width: 200px;
}
.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px 10px 0 10px;
  color: white;
  background-color: rgb(73, 153, 245);
  border: 2px solid rgb(73, 153, 245);
}

.todoListMain .header button:hover {
  background-color: blue;
  border: 2px solid blue;
  cursor: pointer;
}

.todoListMain .theList li {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  margin-bottom: 15px;
  border: 5px;
  list-style: none;
}

ul.theList {
  padding: 0;
}
h1 {
  color: white;
  padding-left: 40px;
}
