.App {
  text-align: center;
}
body {
  background: rgba(2, 0, 0, 0.815);
  color: aliceblue;
}

.todo-item {
  display: flex;
  justify-content: center;
  width: 100%;
}
.input-form {
  margin: 20px;
}
.edit-form {
  margin: 20px;
  background: rgb(31, 31, 30);
  color: azure;
}
p {
  flex-direction: row;
  width: 10%;
}
.checkbox {
  margin-top: 20px;
  background: gray;
  width: 14px;
  height: 14px;
}
input {
  margin-top: 6px;
  margin-right: 10px;
  background: orange;
  height: 30px;
}
header {
  margin: 10px;
  font-size: 25px;
}
label {
  font-size: 17px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
