* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d3dbd7;
}

.nav_bar {
  display: flex;
  justify-content: flex-start;
  border-radius: 50%;
  padding: 5px;
  background-color: #d3dbd7;
}
