body {
  text-align: center;
  margin: 0;
  background-color: darkgreen;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
h1 {
  color: white;
  font-size: 64px;
  font-family: fantasy;
  font-weight: normal;
  animation: mymove 3s infinite;
}
@keyframes mymove {
  from {
    color: darkgreen;
  }
  to {
    color: rgb(49, 139, 49);
  }
}

img {
  border-radius: 50%;
  padding: 3%;
  width: 250px;
}
img:hover {
  border-radius: 0%;
  transform: scale(1.1);
}
.container {
  margin: 2% auto auto auto;
  padding: 0 0 2% 0;
  -webkit-box-shadow: 0px 0px 22px 12px rgba(0, 0, 0, 0.89);
  box-shadow: 0px 0px 22px 12px rgba(0, 0, 0, 0.89);
  background-color: #8fc06c;
}
