.service-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

img {
  width: 22%;
}

p {
  color: gray;
  margin: 0;
  line-height: 1.6;
}

h3 {
  margin: 10px;
}
