* {
  box-sizing: border-box;
}
.react-datepicker__input-container {
  float: left;
  width: 400px;
  margin-top: 6px;
}

.App {
  text-align: center;
  background-color: #35486d;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: whitesmoke;
  padding-bottom: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

form {
  border: solid 1px gray;
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 700px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.AddButton {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  min-width: 200px;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.addMenu {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  min-width: 140px;
}

.col-75 {
  float: left;
  width: 400px;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.rowAdd:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.ToDoItem {
  border: 1px solid gray;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 500px;
  padding: 5px;
}

.ToDos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.Info {
  width: 70%;
}

.CheckBoxDiv {
  margin-right: 10px;
  min-width: 100px;
}

input.CheckBox {
  width: 20px;
  height: 20px;
}

.Color1 {
  color: tomato;
}
.Color2 {
  color: yellowgreen;
}
.Color3 {
  color: rgb(194, 58, 194);
}

.removeButton {
  border-radius: 6px;
  border: solid 1px gray;
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
}

.CheckBoxDiv p {
  margin-top: 7px;
}

.icon-small {
  width: 40px;
  height: 40px;
}

.react-datepicker__input-container {
  margin-top: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}