.App {
  text-align: center;
}

.App-header {
  background-color: #031e53;
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
  padding-left: 100px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* My extra code below */

.designLogo{
  color: rgb(29, 250, 129);
  border-radius: 10px;
  padding:2px;
  background: rgb(15, 15, 15);
}

.items{
  background: #eeeeee;
  list-style: none;
  margin-left: 100px;
  margin-right: 100px;
  margin-top:20px;
  padding: 20px;
  border-radius: 10px;
}
.items li{
  padding: 20px;
  margin: 10px;
  background: #3B5998;
  color: #ffff;
  font-size: 20px;
  border-radius: 10px;
} 
ul:hover > li:not(:hover) {
    opacity: 0.9;
}
