.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #031e53;
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my code below */

.designLogo{
  color: rgb(99, 218, 52);
}

.items{
  background: #eeeeee;
  list-style: none;
  margin-left: 100px;
  margin-right: 100px;
  margin-top:20px;
  padding: 20px;
  border-radius: 10px;
}
.items li{
  padding: 20px;
  margin: 10px;
  background: rgb(74, 84, 224);
  color: #ffff;
  font-size: 20px;
  border-radius: 10px;
} 
