.App {
  text-align: center;
}
.App-header {
  background: #062049;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
  padding-left: 100px;
}
.App {
  text-align: center;
}
.data{
  width: 70%;
  float: left;
}
/* My extra code below */
.designLogo{
  color: rgb(29, 250, 129);
  border-radius: 10px;
  padding:2px;
  background: rgb(15, 15, 15);
}
.items{
  background: #eeeeee;
  list-style: none;
  margin-left: 40px;
  margin-right: 40px; 
  padding: 40px;
  border-radius: 10px;
  display:flex;
} 
.items li{
  padding: 20px;
  margin: 10px;
  background: #3B5998;
  color: #ffff;
  font-size: 20px;
  border-radius: 10px;
} 
li:hover{
    opacity: 0.9;
}
ul{
  width:90%;
}
.noItems{
  background: hsl(246, 100%, 71%);
  font-size: 20px;
  border-radius: 20px;
  color: #ffff;
  padding: 20px;
  width:100%;
}
.remove, .edit, .add{
  background:red;
  margin-left: 10px;
  padding: 5px;
  color:white;
  border-radius:5px;
  border:2px solid #1c4e5e;
  width: 90px;
  font-size: 15px;
}
.edit{
  background:yellow;
  color:black;
}
.add{
  background: rgb(29, 204, 6);
  color: rgb(3, 3, 3);
}
.add:hover {
    transform: scale(1.1);
    border:2px solid #e2dfdf;
}
form{
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  color: rgb(5, 5, 53);
  font-weight: bold;
}
input{
  padding: 5px;
  font-size: 15px;
  border-radius: 4px;
  margin-right: 20px;
  margin-left: 5px;
  border: 1px solid #ccc;
  background: #eeeeee;
}
input:hover{
  background: #ffff;
}
.counter{
  width:25%;
  float: right;
  padding:10px;
  height:300px;
  border-radius: 10px;
  margin-top: 115px;
  margin-right:40px;
  background: #062049;
  color: white;
  font-size: 20px;
  text-align: center;
}
h3{
  border-radius: 20px;
  border: 2px solid rgb(29, 204, 6);
  padding: 10px;
}
