.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.excercise2 {
  display: flex;
  background-color: gray;
  padding: 20px;
  border-radius: 10px;
}

.guarantee {
  margin: auto;
  flex: 2;
  padding: 10px;
}

.btn {
  padding: 10px;
  margin-right: 10px;
  background-color: midnightblue;
  color: white;
  border-radius: 10px;
}

.btn:focus {
  outline: none;
}
