nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: turquoise;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.text-link {
  color: inherit;
  text-decoration: none;
}
