*, *:before, *:after {
  box-sizing: inherit;
  list-style-type: none;
}

/* 
using minimal css here */

.App {
  text-align: center;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

span {
  margin-left: 1em;
}

.todo-item-done {
  text-decoration-line: line-through;
}