body {
  background: #eee;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
  flex-direction: column;
}
.done {
  text-decoration: line-through;
}
.not-done {
  text-decoration: none;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  max-width: 450px;
  margin: 0 auto;
  border-top: none;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  user-select: none;
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
}

li {
  margin: 0;
  padding: 20px;
  background-color: #40E0D0(250, 178, 0);
  font-size: 1em;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 20px;
  counter-reset: done-items undone-items;
}

.static-list,
.dynamic-list {
  display: block;
  position: relative;
  padding: 15px 0 15px 45px;
  border-top: 1px dashed #fff;
  order: 4;
  cursor: pointer;
}

#input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 4px;

  color: black;
}
input[type='text']:focus {
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
input[type='button'],
input[type='submit'],
input[type='reset'] {
  background-color: #4caf50;
  border: none;

  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
label {
  display: flex;
  flex-wrap: nowrap;
}

#add {
  padding: 15px 25px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#todo {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;

  border: none;
  border-radius: 15px;
}
#delete {
  color: #000;
}
#title {
  color: #000;
  font-size: 24px;
}
