* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

header {
  height: 80px;
  display: flex;
  align-items: center;
  background: #6441a5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2a0845, #6441a5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2a0845,
    #6441a5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header > p {
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 40px;
  margin-left: 60px;
}

.profile {
  position: relative;
  width: 90%;
  margin: auto;
  text-align: center;
}

.profile > img {
  max-width: 20%;
  border-radius: 40%;
  padding-top: 10px;
  transform: scale(1);
}

.info {
  text-align: center;
}

.profile-form {
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #6441a5;
}

.profile-form > button {
  border: none;
  font-family: VT323, monospace;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  background: #6441a5;
}

.attention {
  margin-top: 20px;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  background: #6441a5;
  font-family: VT323, monospace;
  letter-spacing: 1.5px;
  text-align: center;
}
