body {
  margin: 0;
  padding: 50px;
  font-family: sans-serif;
  text-align: center;
}

.Clock {
  background: rgba(0,0,0,0.085);
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  line-height: 2em;
}