.App-header {
  background-color: #18abbe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.todo-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 30vmin;
  margin: 3%;
}

.inputTodo {
  margin: 5px;
  height: 3em;
  border-radius: 7px
}

.description {
  width: 30em
}

.deadline {
  width: 20em
}

ul, li {
  margin:0;
  padding:0;
  list-style:none;
}

li {
  display: flex;
  flex-direction: row;
  align-items: baseline
}

label {
  font-weight: bold;
}

.textFormat {
  font-weight: normal;
  color: #54c9d8;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

li:before {
  content: "*";
  position: relative;
  left: -15px;
  bottom: -3px;
}

.checkbox {
  margin: 15px;
  width: 1.4em;
  height: 1.4em
}

.deleteButton {
  margin: 1em;
  font-weight: bold;
  background-color: #1f8b99;
  border-radius: 7px;
  padding: 5px;
}

.deleteButton:hover {
  font-weight: normal;
  font-color: 0.7em;
  background-color: #28b7ca
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
