.TodoForms {
  padding-right: 15px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.TodoForms input {
  height: 2rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #6f767e;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px dashed #83a4c5;
  outline: none;
  flex-basis: 30%;
}

.TodoForms-button {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: rgb(240, 27, 27);
  border: none;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(213, 210, 233);
  font-size: 2rem;
}

.TodoForms-button:hover {
  border-radius: 50%;
  background-color: slateblue;
  font-size: 2rem;
}
