.users-list {
  list-style: none;
  padding: 0;
  width: 80%;
  margin: auto;
}

.users-list span {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  font-size: 1.2vw;
  border: 0.3px solid #ccc;
}

.users-list span.title {
  font-size: 1.5vw;
  background: #2ebaee;
  color: #fff;
  font-weight: bold;
  padding: 3%;
}

.users-list span.name {
  width: 40%;
}

.users-list span.gender {
  width: 30%;
}

.users-list span.region {
  width: 30%;
}
