.main {
  background-color: rgb(144, 211, 233);
  font-size: 18px;
}

.dynamic_list {
  background-color: rgb(17, 97, 124);
  color: white;
  margin: 10px;
  padding: 10px;
}

.form {
  height: 50px;
  padding: 20px 10px;
  float: right;
  margin-right: 30px;
}

.input {
  height: 20px;
  padding: 5px;
}

.button {
  height: 35px;
  background-color: rgb(144, 211, 233);
}
