* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
}
.cross:before {
  content: '\2717';
  color: crimson;
  padding-right: 10px;
}

.tick:before {
  content: '\2713';
  color: darkgreen;
  padding-right: 10px;
}

#thisIsWhereReactIsInjected {
  width: 50%;
  margin: 100px auto;
}
form {
  max-width: 450px;
  background: #fafafa;
  padding: 50px;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: 3px solid #2a88ad;
  margin: 0 auto;
}

input {
  width: 100%;
  height: 20px;
  min-height: 35px;
  font: 14px Arial, Helvetica, sans-serif;
  background: transparent;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  margin-top: 100px;
}

button {
  background: #2a88ad;
  margin: 0px 5px;
  float: right;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px 'Bitter', serif;
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #257c9e;
  font-size: 15px;
  cursor: pointer;
}

ul {
  clear: both;
  margin: 10px auto;
  max-width: 450px;
  font-size: 17px;
}

label {
  font-size: 17px;
  font-weight: 500;
  width: 100%;
}

li {
  /* display: inline-block; */
  padding: 5px 0;
}

li button {
  padding: 2px 5px;
}

button:nth-child(1) {
  background-color: rgb(243, 128, 128);
}

span {
  font-size: 12px;
  width: 100%;
  color: red;
}
