.App {
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
}
.App-main {
  min-height: 58vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding: 0 15px 15px 15px;
}
