.App {
  margin: 10px;
}
label {
  font-size: 10pt;
}
form {
  display: flex;
  align-items: flex-end;

}
input[type="search"] {
  -moz-appearance: none;/* older firefox */
  -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
  appearance: none; /* rest */
  display: block;
  padding: 3px;
  padding-left: 5px;
  font-size: 12pt;
  border: 1px solid gray;
  width: 300px;
  margin-top: 2px;
}

input[type="submit"] {
  -moz-appearance: none;/* older firefox */
  -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
  appearance: none; /* rest */
  font-size: 12pt;
  padding: 3px;
  width: 70px;
  margin-left: 10px;
}
ul {
  padding-left: 0px;
}
li {
  display: flex;
  margin-bottom: 5px;
}
span:first-of-type {
  font-weight: bold;
  width: 150px;
  display: block;
}