.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 30vmin;
}

.App-header {
  position: relative;

  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.topic{
  margin: 0 auto;
  text-align: center; 
  padding:20px;
  width:70%;
}
button {

    color:black;
    padding: 10px;
    text-align: center;
  
    font-size: 15px;
    margin:  12px;
    cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
