body {
  background-color: rgb(224, 233, 240);
}

.App {
  text-align: center;
}

.App-logo {
  padding-top: 120px;
  animation: App-logo-spin infinite 6s linear;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  border-radius: 3px;
  background-color: #282c34;
  width: 90%;
  height: 200px;
}
.topic {
  line-height: 1.4;
  width: 20%;
  position: relative;
  bottom: 430px;
  left: 77%;
  padding: 20px;
}

.infoBtn {
  position: relative;
  bottom: 475px;
  left: 37%;
}
.infoBtn:hover {
  box-shadow: 9px 10px 8px grey;
}

button {
  color: black;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  margin: 12px;
  cursor: pointer;
}

.creteItem {
  width: 50%;
  border: 1px solid red;
  padding: 5px;
  margin: auto;
}

.btn1 {
  border: none;
   border-radius: 5px;
  width: 15%;
  background-color: white;
  color: black;
  transition-duration: 0.2s;
  cursor: pointer;
}


.btn1:hover {
  background-color: rgb(66, 231, 243);
  color: white;
  font-weight: bold;
  
}
label {
  line-height: 2;
}




