.App {
  font-family: "Nanum Gothic", sans-serif;
  margin: auto;
  width: 98%;
  max-width: 400px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.city {
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px auto;
  padding: 0 30px;
}

.title {
  text-align: center;
}

.weather-status h2 {
  font-weight: bold;
  margin-bottom: 0;
}
.weather-status p {
  margin-top: 0;
}
