.done {
  text-decoration: line-through;
  color: rgb(241, 13, 13);
  padding-bottom: 50px;
  font-size: 25px;
  font-family: serif;
  list-style: none;
  border: 2px solid black;
  width: 80%;
  margin: 5px 0 3px 100px;
  padding: 10px;
}

.un-done {
  color: rgb(70, 69, 69);
  padding-bottom: 50px;
  font-size: 20px;
  font-family: serif;
  list-style: none;
  border: 2px solid black;
  width: 80%;
  margin: 5px 0 3px 100px;
  padding: 10px;
}
.App-header {
  background-color: darkgoldenrod;
  height: 100px;
}
.list-header {
  color: darkred;
  font-size: 2.5em;
}
.todo-items {
  color: red;
  font-size: 3em;
  font-weight: bold;
}
.add-todo {
  margin: 15px 0 0 0;
}
