#header {
  font-size: 20px;
  text-align: center;
  color: olive
}
ul {
  text-align: center;
  font-style: italic;
  list-style-type: none;
}
footer {
  text-align: center;
  position: relative;
  top: 250px;
}
li {
  margin-bottom: 10px;
  font-size: 20px;
}
p {
  font-weight: bold
}
.todo {
  border: 2px solid red;
  display: inline-block;
  padding: 5px
}