.list-i,
.isDone {
  background-color: slategray;
  display: flex;
  padding: 10px;
  border-bottom: 2px dotted rgba(200, 215, 230, 0.425);
  justify-content: center;
  list-style: none;
}

.list-i:hover,
.isDone:hover {
  background-color: rgb(185, 211, 236);
}

.isDone {
  text-decoration: line-through;
}
