/* Body Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

/* Header Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navbar ul {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}
/* Main Styles */
main {
  margin: 2rem;
}

/* Category List Styles */

#category-list ul {
  list-style-type: circle;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

#category-list li {
  cursor: pointer;
  padding: 0.5rem;
  background-color: #eee;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  display: inline-block;
}

#category-list li.active,
#category-list li:hover {
  background-color: #ddd;
}

/* Product List Styles */
#product-list {
  flex-grow: 1;
}

#product-list h2 {
  color: #333;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.heartButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #fff;
  padding: 5px;
  cursor: pointer;
}
.heartButton img {
  height: 20px;
}
.product-item {
  position: relative;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}

.product-item:hover {
  transform: scale(1.05);
}

.product-item h3 {
  margin-bottom: 0.5rem;
  color: #333;
}

.product-item p {
  color: #666;
}

.product-item img {
  width: 100%;
  border-radius: 4px;
}

.productDetails {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 30px;
}
.productDetails img {
  width: 350px;
}
