.week1 h2 {
  text-align: center;
  color: maroon;
  margin-left: 40px;
  color: #03a9f4;
}
.week1 ul {
  list-style: none;
  text-align: center;
  text-decoration: none;
}
.week1 li {
  border-radius: 7px;
  font-size: 20px;
  margin: 20px auto;
  border: 1px solid black;
  padding: 5px;
  background: #cd5c5c;
  width: 500px;
}
.week1 li.true {
  background-color: #03a9f4;
  text-decoration: line-through;
}
