html,
body,
#root,
.App {
  height: 100%;
}

.App {
  text-align: center;
}

footer {
  bottom: 0;
  width: 100%;
}

div.Users.container {
  padding: 10px;
}

div.Users.container ul {
  padding: 30px;
}

div.container.static-list,
div.card,
div.container.dynamic-list,
.jumbotron {
  height: 80%;
}

div.Todo-List.container {
  padding: 20px 0;
}

div.jumbotron {
  margin: 0;
}

h1 {
  color: rgb(74, 73, 73);
  padding: 20px;
  letter-spacing: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3em;
}

h4 {
  color: rgb(74, 73, 73);
}

a {
  font-size: 1.2em;
  color: white;
}

.card .list-group a {
  color: #000;
}

table {
  margin: auto;
}

img {
  background-color: var(--main-bg-color);
  padding: 5px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px rgba(80, 48, 110, 0.3);
  z-index: 10;
}

/* .user-info {
  width: 300px;
  border-radius: 10%;
  text-align: left;
  text-indent: 20px;
  box-shadow: 2px 10px 2px 7px rgba(80, 48, 110, 0.3);
  z-index: 10;
} */

.user-info li {
  list-style-type: none;
}

/* Spinner */

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: lightgrey;
  background: -moz-linear-gradient(left, lightgrey 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, lightgrey 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, lightgrey 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, lightgrey 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, lightgrey 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: lightgrey;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: var(--main-bg-color);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
