body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#root {
    width: 70%;
    margin: 0 auto;
}

.theme {
    height: 20vh;
    background: #00b0ffc9;
    background-image: url('./img/01.svg');
    background-repeat: no-repeat no-repeat;
    background-size: auto 100%;
    background-position: center top;
}

.todosContainer {
    margin: 0 auto;
}

.listTitle {
    color: #fff;
    overflow: hidden;
    padding: 6px;
    font-size: 35px;
}

.todosItem {
    list-style: none;
}

.todoList {
    box-shadow: -1px -2px 2px 0px #9e9e9e17;
    background-color: #d8d8d81c;
    border-radius: 5px;
    margin: 1px;
    padding: 2%;
    border: 1px solid #80808030;
    overflow: hidden;
}

.deadline {
    float: right;
}
small{
    padding: 5%;
}

.isCompleted{
    background-color: #54c0ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
em{
    color: #0056ff;
    font-weight: bold;
    padding: 10px;
    }
