* {
    margin: 0;
    padding: 0;
}

body {
    background: aliceblue;
    text-align: center;
}

ul {
    list-style: none;
}

.todosWrapper {
    width: 50vw;
    margin: auto;
}

.todosWrapper>li {
    margin-top: 2rem;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

.author-info {
    text-align: left;
}

img {
    width: 100%;
    
}

.author-avatar {
    width: 40px;
    margin-right: 1rem;
}


