.footer_nav a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  border: 0.5px solid gray;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.footer_nav a:hover {
  background-color: #ddd;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.footer_nav a.active {
  background-color: #4caf50;
  color: white;
}
