.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Todo list */
.item-close-icon {
  font-size: 30px;
  color: red;
  font-weight: bold;
  cursor: pointer;
  /*line-height: 70%;*/
}
.todo-container li {
  color: #fff;
}
.todo-container p {
  cursor: pointer;
  float: left;
  width: 70%;
  margin: 0.5em 0 0 1.5em ;
  padding: 0;
}
.todo-container ul.list-group.list-group-striped li:nth-of-type(odd){
  background: rgb(51, 51, 51);
}
.todo-container ul.list-group.list-group-striped li:nth-of-type(even){
  background: rgb(134, 134, 134);
}
.todo-container ul.list-group.list-group-hover li:hover{
  background: rgb(245, 123, 123);
}
.wrapper {
  max-width: 800px;
  margin: auto;
}
/* ************************ */
input[type=checkbox] {
  transform: scale(1.5);
}
/* ************************** */

.popup-container {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.popup-container .popup-message {
  visibility: hidden;
  width: 120px;
  background-color: rgb(5, 5, 5, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.popup-container .popup-message::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  rgb(5, 5, 5, 0.7) transparent transparent transparent;
}

.popup-container:hover .popup-message {
  visibility: visible;
}
