.Todo {
  border: 1.5px solid black;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.Todo:hover {
  color: #0c0e11;
  background-color: #8fafcf;
}

.Todo span {
  background-color: #e9ecef;
  float: right;
  padding-right: 2rem;
}
.Todo:hover span {
  background-color: #db7272;
  float: right;
  padding-right: 2rem;
}

.Todo.done {
  text-decoration: line-through;
  font-weight: bolder;
  text-decoration-color: brown;
}
