.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#error{
    background: #ffe7e8;
    border-color: #e66465;
    width:100%;
    margin: 20px 0px;
    padding: 10px;
    font-size: 1.125rem;
    border-left-width: 5px;
    border-left-style: solid;
}