#todoList, #addForm {
  margin: auto;
  margin-top : 15px; 
  padding: 10px 10px;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#addForm table{
  padding-left: 40px;
  text-align: left;
}

#todoList ul {
  text-align : left;
  list-style: none;
}

.todoItem div{
  padding: 20px 10px 20px 10px;
  
}

.warning{
  color: red;
}

.notWarning{
  overflow: hidden;
}

.todoItem{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.deadline{
  width:30%;
  text-align : center;
  float: right;
  color: white;
  background-color: gray;
  padding: 1px 5px;
  border-radius: 7px;
}

.checked {
  text-decoration: line-through;
}

button{
  margin-left: 5px;
}